/*
  DIAGNOSTIC STYLING
*/
body {
  background: powderblue;
  font-family: 'Mouse Memoirs', sans-serif;
}


/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}

/* Your Styles */

/************
HEADER
************/

header {
  border: #FBF50B;
  padding: 5px;
  border-style: dotted;
  border-width: 5px;
  
}
h1, h3 {
  text-align: center;
  letter-spacing: 2px;

}

h1 {
  font-size: 40px;

}

h3 {
  font-size: 30px;

}
/***********
ASIDE
************/
h2 {
  border: #FBF50B;
  padding: 5px;
  border-style: dotted;
  border-width: 5px;
  text-align: center;

}

p {
  font-size: 20px;
  text-align: center;
}

div.Links {
  border: #FBF50B;
  padding: 1-px;
  border-style: dotted;
  border-width: 5px;


}
a:hover {
  color: orangered;
  text-decoration: none;
}

/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: orangered;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 20px;

}

img.Actor {
  width: 100px;
  height: 150px;
  border-width: 5px;
  border-style: dotted;
  border-color: #FBF50B; 
 
}
/************
FOOTER
************/
footer {
  text-align: center;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}